:root {
  --black: #000000;
  --orange: #ff8000;
  --blue: #47c7fc;
  --white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: absolute;
  width: 100%;
  /* top: 0;
  left: 0; */
  box-sizing: border-box;
}

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

header a {
  color: var(--blue);
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 6px; */
}

header nav a:hover {
  color: red;
  background-color: rgb(255, 251, 0);
}

footer {
  /* background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29)); */
  background-color: #f2f2f2;
  padding: 40px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  width: 80px;
  height: 80px;
  margin: 0px 50px;
}

footer img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#logo a {
  padding: 10px;
  color: var(--blue);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--black);
}

/* dat to podla abecedy na konci, gulf zafarbenie, pouzit to position na to uvodne logo, box-sizing */
